[package]
name = "zkpf-orchard-inner"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
once_cell = "1.19"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"